@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Primary Colors */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    
    /* Neutral Colors */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    
    /* Typography */
    --paragraph-font-size: 15px;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    font-size: var(--paragraph-font-size);
    padding: 20px;
    background-color:rgb(246, 243, 240);
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav {
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

nav.open {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75vw;
    background-color: var(--off-white); 
    padding: 1.25rem;
    z-index: 1;
    opacity: 1;
}

.header nav ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

header nav ul li {
    margin: 1.5rem 0;
    font-size: 16px;
}

.header ul li:hover {
    color: var(--soft-orange);
}

.icon-menu button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.icon-menu button:hover {
    opacity: 50%;
}

#icon-menu-close {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    z-index: 1;
    cursor: pointer;
}

.showcase {
    padding-top: 20px;
}

.showcase h1 {
    padding-top: 20px;
    font-size:  2.5rem;
    color: var(--very-dark-blue);
}

.showcase p {
    padding-top: 10px;
    color: var(--dark-grayish-blue);
    opacity: 90%;
}

.showcase button {
    background-color: var(--soft-red);
    border: 1px solid var(--soft-red);
    color: var(--very-dark-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    padding: 0.8rem 2rem;
    margin: 30px 0;
    transition: 0.2s ease-out;
}

.showcase button:hover {
    background-color: var(--very-dark-blue);
    border: 1px solid var(--very-dark-blue);
    color: var(--off-white);
}

article {
    margin-top: 20px;
}

.news {
    padding: 20px 20px 5px 20px;
    background-color: var(--very-dark-blue);
}

.news h2 {
    color: var(--soft-orange);
}

.news h3 {
    color: var(--off-white);
}

.news h3:hover {
    color: var(--soft-orange);
    cursor: pointer;
}

.news p {
    color: var(--off-white);
    opacity: 70%;
    margin-bottom: 25px;
}

.showcase > div:last-child article:not(:last-child) {
    border-bottom: 1px solid hsl(236, 13%, 42%);
}
/* .showcase > div:last-child selects the last div inside .showcase (the one containing the three articles).
article:not(:last-child) then selects the first and second article elements inside that div, but not the third one (which is the last article). */

.cards {
    padding-top: 20px;
}

.cards article {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cards article img {
    width: 100px;
    max-width: 100%;
    transition: 0.2s ease;
}

.cards article img:hover {
    transform: scale(1.05);
}

article div {
    line-height: 25px;
}

article span {
    color: var(--soft-red);
    font-weight: 700;
    font-size: 30px;
}

article h4 {
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

article h4:hover {
    color: var(--soft-red);
}

article p {
    color: var(--dark-grayish-blue);
    opacity: 90%;
    line-height: 1.8;
}

@media (min-width: 768px) {

    .header nav {
        opacity: 1;
        z-index: auto;
    }

    .header nav.open {
        /* position: relative;
        width: auto;
        background-color: transparent;
        padding: 0; */
        z-index: auto;
    }

    .header nav ul {
        position: relative;
        top: 0%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;
        transform: translateY(0%);
    }

    .showcase {
        display: flex;
        gap: 20px;
    }

    .icon-menu, #icon-menu-close {
        display: none;
    }

    .news h2 {
        font-size: 30px;
    }

    header ul {
        max-width: 100%;
        width: 100%;
        display: flex;
        gap: 10px;
        color: var(--dark-grayish-blue);
        opacity: 90%;
        cursor: pointer;
    }

    nav.open {
        position: relative;
        width: 0; 
        padding: 0;
    }

    .showcase button {
        margin: 40px 0 0 0;
    }
}

@media (min-width: 1024px) {
    .showcase > div:first-child article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .showcase h1 {
        padding-top: 0;
        width: 250px;
        font-size: 3rem;
        font-weight: 800;
    }

    .header nav ul {
        gap: 50px;
    }

    .cards {
        padding: 30px;
        display: flex;
        gap: 30px;
    }
}
